.card-list {
    display: flex;
    align-items: center;
    gap: 30px 25px;
    flex-wrap: wrap;
}

.card-list span {
    font-size: 3rem;
    color: var(--font-new);
    font-weight: 700;
    margin-bottom: 15px;
}

.card-list .title {
    font-size: 1.8rem;
    font-weight: 800;
    margin: 10px 0;
}

.card-list .title:hover{
    cursor: pointer;
    color: var(--contrast-popular);
}

.card-list .description {
    color: var(--font-default);
    line-height: 25px;
}