.attribution {
    grid-area: footer;
    font-size: 1.5rem;
    text-align: center;
    color: var(--contrast-default);
}

.attribution p {
    display: inline;
}

.attribution a {
    font-size: 1.5rem;
    font-weight: 700;
}

.attribution a:hover {
    color: var(--contrast-popular);
}

@media (max-width: 789px) {
    .attribution p {
        display: block;
    }
}