.header {
    grid-area: header;
    max-width: 1110px;
}

.header,
ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.header .menu li a {
    font-size: 1.8rem;
}

.header .menu li a:hover {
    color: var(--contrast-popular);
}

